/* =============== IMPORT FONT =============== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* =============== UNIVERSAL CODE =============== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* =============== HOME PAGE COLOR =============== */

:root {

    --navBg: #dbeafe;
    --navText: #1E40AF;
    --navSubTitile: #2563EC;

    --heroBg: #F2F8FF;

    --primaryBtnBg: #2563EB;
    --primaryBtnHover: #074ada;
    --primaryBtnText: #FFFFFF;
    --primaryBtnBorder: transparent;

    --secondaryBtnBg: #FFFFFF;
    --secondaryBtnHover: #558bff23;
    --secondaryBtnText: #2563EC;
    --secondaryBtnBorder: #2563EB;
}

body {
    font-family: "Inter", sans-serif;
}

/* =============== NAVBAR =============== */

.navbar {
    height: 70px;
    background-color: var(--navBg);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s ease;
}

.navbar.scrolled {
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.nav-left img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-inline: 10px;
}

.nav-left p {
    font-size: 22px;
    color: var(--navText);
    font-weight: bold;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-right .cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBtnBg);
    border-radius: 8px;
    padding: 13px 10px;
    color: var(--primaryBtnText);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-right .cta-btn:hover {
    background-color: var(--primaryBtnHover);
    transition: all 0.3s ease-in;
}

.nav-right .cta-btn i {
    margin-left: 5px;
    font-size: 18px;
}

.nav-right .cta-btn span {
    margin-inline: 5px;
    font-size: 16px;
    font-weight: 500;
}

/* =============== HERO SECTION =============== */

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    background-color: var(--heroBg);
}

.hero .message-box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.message-box h2 {
    font-size: 44px;
    color: var(--navText);
    font-weight: bolder;
    margin-bottom: 10px;
}

.message-box p {
    font-size: 18px;
    color: var(--navSubTitile);
}

.hero .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}

.btn-box .getStartBtn {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryBtnBg);
    border-radius: 8px;
    padding: 15px 10px;
    border: 1px solid var(--primaryBtnBorder);
    color: var(--primaryBtnText);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-box .getStartBtn:hover {
    background-color: var(--primaryBtnHover);
    transition: all 0.3s ease-in;
}

.btn-box .getStartBtn i {
    margin-left: 5px;
    font-size: 16px;
}

.btn-box .getStartBtn span {
    margin-inline: 5px;
    font-size: 16px;
}

.btn-box .loginBtn {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryBtnBg);
    border-radius: 8px;
    padding: 15px 10px;
    border: 1px solid var(--secondaryBtnBorder);
    color: var(--secondaryBtnText);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-box .loginBtn:hover {
    background-color: var(--secondaryBtnHover);
    transition: all 0.3s ease-in;
}

.btn-box .loginBtn i {
    margin-left: 5px;
    font-size: 16px;
}

.btn-box .loginBtn span {
    margin-inline: 5px;
    font-size: 16px;
}

/* =============== RESPONSIVE SECTION =============== */


@media (max-width: 992px) {

    /* =============== NAVBAR =============== */

    .navbar {
        width: 100%;
        height: 70px;
        padding: 5px 3%;
    }

    .nav-left {
        padding: 5px;
    }

    .nav-left img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }

    .nav-left p {
        font-size: 22px;
    }

    .nav-right {
        padding: 5px;
    }

    .nav-right .cta-btn {
        width: 130px;
        padding: 13px 10px;
    }

    .nav-right .cta-btn i {
        margin-left: 5px;
        font-size: 18px;
    }

    .nav-right .cta-btn span {
        margin-inline: 8px;
        font-size: 16px;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 10px;
        margin-top: 70px;
    }

    .hero .message-box {
        width: 100%;
        padding: 10px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .message-box h2 {
        font-size: 44px;
        margin-bottom: 15px;
    }

    .message-box p {
        font-size: 18px;
    }

    .hero .btn-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 80px;
    }

    .btn-box .getStartBtn {
        width: 180px;
        padding: 15px 10px;

    }

    .btn-box .getStartBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .getStartBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn {
        width: 150px;
        padding: 15px 10px;
    }

    .btn-box .loginBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    /* =============== NAVBAR =============== */

    .navbar {
        width: 100%;
        height: 70px;
        padding: 5px 3%;
    }

    .nav-left {
        padding: 5px;
    }

    .nav-left img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }

    .nav-left p {
        font-size: 22px;
    }

    .nav-right {
        padding: 5px;
    }

    .nav-right .cta-btn {
        width: 110px;
        padding: 13px 10px;
    }

    .nav-right .cta-btn i {
        margin-left: 5px;
        font-size: 18px;
    }

    .nav-right .cta-btn span {
        margin-inline: 8px;
        font-size: 16px;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 10px;
        margin-top: 70px;
    }

    .hero .message-box {
        width: 100%;
        padding: 10px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .message-box h2 {
        font-size: 38px;
        margin-bottom: 15px;
    }

    .message-box p {
        font-size: 16px;
    }

    .hero .btn-box {
        width: 100%;
        gap: 10px;
        margin-bottom: 80px;
    }

    .btn-box .getStartBtn {
        width: 150px;
        padding: 15px 10px;

    }

    .btn-box .getStartBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .getStartBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn {
        width: 120px;
        padding: 15px 10px;
    }

    .btn-box .loginBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {

    /* =============== NAVBAR =============== */

    .navbar {
        width: 100%;
        height: 70px;
        padding: 5px 3%;
    }

    .nav-left {
        padding: 0px;
    }

    .nav-left img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }

    .nav-left p {
        font-size: 20px;
    }

    .nav-right {
        padding: 5px;
    }

    .nav-right .cta-btn {
        width: 100px;
        padding: 13px 10px;
    }

    .nav-right .cta-btn i {
        margin-left: 5px;
        font-size: 18px;
    }
    
    .nav-right .cta-btn span {
        margin-inline: 8px;
        font-size: 16px;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 0px;
        margin-top: 70px;
    }

    .hero .message-box {
        width: 100%;
        padding: 15px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .message-box h2 {
        font-size: 48px;
        margin-bottom: 15px;
    }

    .message-box p {
        font-size: 16px;
    }

    .hero .btn-box {
        width: 80%;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .btn-box .getStartBtn {
        width: 100%;
        padding: 13px;

    }

    .btn-box .getStartBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .getStartBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn {
        width: 100%;
        padding: 13px;
    }

    .btn-box .loginBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }
}

@media (max-width: 397px) {

    /* =============== NAVBAR =============== */

    .navbar {
        width: 100%;
        height: 70px;
        padding: 5px 3%;
    }

    .nav-left {
        padding: 0px;
    }

    .nav-left img {
        width: 40px;
        height: 40px;
        margin-inline: 10px;
    }

    .nav-left p {
        font-size: 20px;
    }

    .nav-right {
        padding: 5px;
    }

    .nav-right .cta-btn {
        width: 40px;
        height: 40px;
        padding: 13px 10px;
        border-radius: 10px;
    }

    .nav-right .cta-btn i {
        margin-left: 0px;
        font-size: 18px;
    }
    
    .nav-right .cta-btn span {
        margin-inline: 8px;
        font-size: 16px;
        display: none;
    }

    /* =============== HERO SECTION =============== */

    .hero {
        width: 100%;
        padding: 0px;
        margin-top: 70px;
    }

    .hero .message-box {
        width: 100%;
        padding: 15px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .message-box h2 {
        font-size: 48px;
        margin-bottom: 15px;
    }

    .message-box p {
        font-size: 16px;
    }

    .hero .btn-box {
        width: 80%;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .btn-box .getStartBtn {
        width: 100%;
        padding: 13px;

    }

    .btn-box .getStartBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .getStartBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn {
        width: 100%;
        padding: 13px;
    }

    .btn-box .loginBtn i {
        margin-left: 5px;
        font-size: 16px;
    }

    .btn-box .loginBtn span {
        margin-inline: 5px;
        font-size: 16px;
    }
}